{% extends 'base.html' %}
{% block title %}Параметры URL{% endblock %}
{% block content %}
<h1>Параметры URL</h1>
<p class="text-muted"> <code>?user=123&token=abc&callback=true&debug=1</code></p>
{% if url_params %}
    <table class="table table-bordered">
        <thead><tr><th>Параметр</th><th>Значение</th></tr></thead>
        <tbody>
        {% for key, value in url_params.items() %}
            <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Нет параметров URL.</p>
{% endif %}
{% endblock %}